* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ac8470;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
#navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 5vw;
  min-height: 60px;
  z-index: 9999;
  background-color: #965d4f;
  padding: 2%;
}

#navbar > #title {
  font-size: 1.5vw;
  cursor: pointer;
  align-self: center;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#menu {
  font-size: 35px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px;
  background-color: #965d4f;
  color: #ca9a82;
}

#menu img {
  width: 30px;
  height: 30px;
}

.section {
  padding: 3% 5%;
}

.main_title {
  font-size: 50px;
  color: #783310;
}

.sub_title {
  align-self: center;
  font-size: 70%;
}

#navbar > #links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
#links .link_social {
  width: auto;
  font-size: 1.5vw;
}

#gap_about_me {
  margin-top: 32vw;
  width: 100%;
  height: 5vw;
  background-color: #ca9a82;
  background-image: linear-gradient(#ac8470, #965d4f);
  z-index: 0;
}

.gap {
  width: 100%;
  height: 5vw;
  background-color: #ca9a82;
  background-image: linear-gradient(#ac8470, #965d4f);
  z-index: 0;
}

#about {
  height: 50vh;
  padding: 5vw 10px;
  z-index: 0;
}

#about img {
  background-color: #ca9a82;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 20%;
  animation: fadeInAnimationleft ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimationleft {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 20%;
  }
}

@keyframes fadeInAnimationright {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 40%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 6vw;
  text-align: center;
  height: 100px;
  width: 50vw;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 0;
  margin: auto;
  animation: fadeInAnimationright ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

#about-me {
  background-color: #ac8470;
}

#about-me-description {
  padding: 2% 0;
  font-size: 30px;
}

#resume_download {
  width: 10vw;
  min-width: 150px;
  height: 3vw;
  min-height: 50px;
  margin-top: 50px;
  background-color: #ac8470;
  border-radius: 10px;
  border: #783310 solid 1px;
  font-weight: 600;
  font-size: 20px;
  transition: ease-out 0.5s;
  color: #783310;
}

#resume_download:hover {
  background-color: #783310;
  transition: ease-in 0.5s;
  color: #ddb19c;
  cursor: pointer;
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ca9a82;
  border-radius: 20px;
}

.project-text {
  width: 50%;
  padding: 1%;
}

.project-title {
  margin: 5% 0;
}

.project-description {
  margin: 2% 0;
  padding: 1% 2% 1% 0;
}

.project-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.project-sub-title {
  width: 30%;
  min-width: 150px;
}

.project-image {
  width: 40vw;
  box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-links {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.live-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  margin: 2% 0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #783310 solid 1px;
  transition: ease-out 0.5s;
  color: #783310;
  font-size: 20px;
}

.live-link:hover {
  background-color: #783310;
  color: #ddb19c;
  transition: 0.2s ease-in;
}

#education {
  padding-top: 10%;
}

#education-container {
  padding: 2% 0;
}

.education-institutes {
  margin: 2% 0;
}

.degree {
  font-size: 25px;
  font-style: italic;
  margin: 1% 0;
}

.institute-name {
  font-size: 20px;
  margin: 1% 0;
}

.date {
  font-size: 15px;
  margin: 1% 0;
}

#skills {
  padding-top: 10%;
}

#skill-container {
  display: flex;
  padding: 5% 0;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  background-color: #ca9a82;
  margin-top: 2%;
  border-radius: 20px;
}

#skill-container img {
  height: 64px;
  width: 64px;
}

.skill {
  width: 15%;
  min-width: 150px;
  margin: 1%;
  padding: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ddb19c;
  border-radius: 10%;
}

.skill > div {
  margin: 10%;
}

#github {
  margin: 4px, 4px;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#cal {
  background-color: #ca9a82;
  color: black;
  width: auto;
  margin-top: 2%;
  min-width: 720px;
  min-height: 200px;
}

.stats {
  width: auto;
  margin: 20px;
  align-items: center;
}

.stats img {
  width: 40%;
}

#stats-desc {
  margin-top: 2%;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* media queries */

@media screen and (max-width: 800px) {
  span {
    color: #783310;
  }
  #navbar {
    display: none;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .main_title {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1200px) {
  #navbar > #title {
    padding-left: 30px;
    width: 55%;
  }
  .console-container {
    height: 200px;
  }

  .project {
    flex-wrap: wrap-reverse;
  }

  .project-text {
    width: 100%;
  }

  .project-image {
    width: 100%;
  }

  .stats img {
    width: 100%;
  }
}
