* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ac8470;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
#navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 5vw;
  z-index: 9999;
  background-color: #965d4f;
  padding: 2%;
}

#navbar > #title {
  font-size: 1.5vw;
  cursor: pointer;
  align-self: center;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.section {
  padding: 3% 0;
}

.main_title {
  font-size: 50px;
  color: #783310;
  padding: 0 5%;
}

.sub_title {
  align-self: center;
  font-size: 70%;
}

#navbar > #links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
#links .link_social {
  width: auto;
  font-size: 1.5vw;
}

#gap_about_me {
  margin-top: 32vw;
  width: 100%;
  height: 5vw;
  background-color: #ca9a82;
  background-image: linear-gradient(#ac8470, #965d4f);
  z-index: 0;
}

.gap {
  width: 100%;
  height: 5vw;
  background-color: #ca9a82;
  background-image: linear-gradient(#ac8470, #965d4f);
  z-index: 0;
}

#about {
  height: 50vh;
  padding: 5vw 10px;
  z-index: 0;
}

#about img {
  background-color: #ca9a82;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 20%;
  animation: fadeInAnimationleft ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimationleft {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 20%;
  }
}

@keyframes fadeInAnimationright {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 40%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 6vw;
  text-align: center;
  height: 100px;
  width: 50vw;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 0;
  margin: auto;
  animation: fadeInAnimationright ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

#about-me {
  padding: 3% 0;
  background-color: #ac8470;
}

#about-me-description {
  padding: 2% 5%;
  font-size: 30px;
}

#projects {
  padding: 3% 0;
}

#project_container {
  padding: 0% 5% 0 5%;
}

.project-card {
  display: flex;
  margin: 5% 0;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ca9a82;
  border-radius: 20px;
}

.project-text {
  width: 50%;
  padding: 1%;
}

.project-title {
  margin: 5% 0;
}

.project-description {
  margin: 2% 0;
  padding: 1% 2% 1% 0;
}

.project-elements {
  display: flex;
  margin: 2% 0;
}

.project-sub-title {
  width: 30%;
}

.project-image {
  width: 51%;
  box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-links {
  justify-content: space-around;
}

.live-link {
  width: 200px;
  height: 40px;
  padding: 2%;
  font-weight: 600;
  text-align: center;
  align-items: center;
  margin: 2% 0;
  border-radius: 25px;
  background-color: rgb(104, 64, 163);
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.412) 0px 7px 29px 0px;
}

.live-link:hover {
  background-color: rgb(133, 75, 219);
  transition: 0.5s ease-in;
}

#education {
  padding-top: 10%;
}

#education-container {
  padding: 2% 5%;
}

.education-institutes {
  margin: 2% 0;
}

.degree {
  font-size: 25px;
  font-style: italic;
  margin: 1% 0;
}

.institute-name {
  font-size: 20px;
  margin: 1% 0;
}

.date {
  font-size: 15px;
  margin: 1% 0;
}

#skills {
  padding-top: 10%;
}

#skill-container {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  background-color: #ca9a82;
  margin: 2%;
  border-radius: 20px;
}

#skill-container img {
  height: 64px;
  width: 64px;
}

.skill {
  width: 15%;
  min-width: 150px;
  margin: 1%;
  padding: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ddb19c;
  border-radius: 10%;
}

.skill > div {
  margin: 10%;
}

#github {
  margin: 4px, 4px;
  padding: 4px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#cal {
  background-color: #ca9a82;
  color: black;
  width: auto;
  min-width: 720px;
  min-height: 200px;
}
/* media queries */

@media screen and (max-width: 1200px) {
  #navbar > #title {
    padding-left: 30px;
    width: 55%;
  }
  .console-container {
    height: 200px;
  }

  #projects {
    margin-top: 30vh;
  }

  .project {
    flex-wrap: wrap-reverse;
  }

  .project-text {
    width: 100%;
  }

  .project-image {
    width: 100%;
  }
}
