* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
#navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    width: 100%;
    max-height: 70px;
    z-index: 9999;
    background-color: rgb(104, 64, 163);
    padding: 2%;
}

#navbar > #title {
    font-size: 1.5vw;
    cursor: pointer;
    align-self: center;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.main_title {
    font-size: 3vw;
}

.sub_title {
    align-self: center;
    font-size: 70%;
}

#navbar > #links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
#links .link_social {
    width: auto;
    font-size: 1.5vw;
}

#about {
    padding: 100px 10px;
    z-index: 0;
}

#about img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 20%;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
    opacity: 0;
}
.console-container {
    font-family: Khula;
    font-size: 6vw;
    text-align: center;
    height: 100px;
    width: 50vw;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    margin: auto;
}
.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

#projects {
    margin-top: 60vh;
    padding-top: 20vh;
}

.main_title {
    padding: 0 5%;
    background-color: rgb(104, 64, 163);
}

#project_container {
    padding: 5%;
}

.project {
    display: flex;
    margin: 5% 0;
}

.project-text {
    width: 50%;
    padding: 0 5%;
}

.project-title {
    margin: 5% 0;
}

.project-description {
    margin: 2% 0;
    padding: 1% 2% 1% 0;
}

.project-elements {
    display: flex;
    margin: 2% 0;
}

.project-sub-title {
    width: 30%;
}

.project-image {
    width: 50%;
    padding: 0 1%;
}

.project-image img {
    width: 100%;
}


/* media queries */

@media screen and (max-width:1200px){
    
    #navbar > #title {
        padding-left: 30px;
        width: 55%;
    }
    .console-container {
        height: 200px;
    }

    #projects {
        margin-top: 30vh;
    }

    .project {
        flex-wrap:wrap-reverse;
    }

    .project-text {
        width: 100%;
    }

    .project-image{
        width: 100%;
    }
}
